<footer class="relative flex flex-col items-center md:flex-row justify-between px-2 sm:px-5 md:px-12 py-[22px] bg-[#0F172A] w-full bottom-0 m-0 mt-10 lg:mt-5">
  <div>
    <span class="text-2xl text-white font-bold opacity-75">VendBloc</span>
  </div>
  <!-- VendBloc -->
  <div class="flex text-sm md:text-base items-center text-white opacity-80">
    &copy; All rights Reserved. VendBloc Inc.
  </div>
  <!-- auth buttons and cart -->
  <div class="flex items-center space-x-5">
    
  </div>
</footer>
