<a href="/order">
    <div class="w-[200px] h-[192px] 2xl:w-[220px] rounded-md shadow-xl my-5 2xl:mt-10 mr-8 2xl:mr-14">
        <!-- Image -->
        <div class="flex h-[60%]">
            <img class="object-cover rounded-t-md" src="../../../assets/kjaro.png" alt="">
        </div>
        <!-- Info -->
        <div class="flex flex-col text-[#0F172A] px-2 py-1">
            <span class="text-base font-semibold ">{{store}}</span>
            <span class="text-sm opacity-50 font-normal">{{outlet}}</span>
        </div>
    </div>
</a>