<app-outlet>
    <app-table [cols]="tableCols" [showAdd]="true" (addButtonPressed)="showDialog()" (removeButtonPressed)="deleteProduct($event)" [tableData]="products" tableName="Products"></app-table>

    <form [formGroup]="createProductForm" (submit)="saveProduct()">
        <p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Add Product" [modal]="true"
            styleClass="p-fluid">

            <ng-template pTemplate="content">

                <!-- <div class="flex flex-col w-full space-y-2"> -->
                <div class="form_div">
                    <label for="">Product's Name</label>
                    <input class="border p-3 rounded-md" placeholder="Name" formControlName="name" type="text"
                        required />
                </div>
                <div class="form_div">
                    <label for="">Select Category</label>
                    <p-dropdown class="" [options]="productCategories" formControlName="productCategory"
                        placeholder="Select a Category" optionLabel="name" inputId="float-label"></p-dropdown>
                </div>
                <div class="form_div">
                    <label for="">Select Type</label>
                    <p-dropdown class="" [options]="productTypes" formControlName="productType"
                        placeholder="Select a Type" optionLabel="name" inputId="float-label"></p-dropdown>
                </div>
                <div class="form_div">
                    <label for="">Select Unit</label>
                    <p-dropdown class="" [options]="units" formControlName="unit" placeholder="Select a Unit"
                        optionLabel="name" inputId="float-label"></p-dropdown>
                </div>
                <!-- </div> -->

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="showDialog()"></button>
                <button pButton type="submit" pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>
                <!-- <div class="items-end flex justify-end">
                <button class="bg-vendblocblue text-white py-2 px-6 rounded-sm" type="submit">Create</button>
            </div> -->
            </ng-template>

        </p-dialog>
    </form>

</app-outlet>