<app-outlet>

  <app-table [cols]="tableCols" [showEdit]="false" [showOpen]="true" (showButtonPressed)="showDialog($event)"
    [showDelete]="false" [showAdd]="false" [tableData]="orders" tableName="Orders"></app-table>

  <p-dialog header="Order Invoice" [(visible)]="dialogVisible" [modal]="true"
    [style]="{ width: '50vw', height: '500px' }" [draggable]="false" [resizable]="false">
    <div class="flex flex-col space-y-3">
      <div class="flex justify-between">
        <span>Date : {{currentOrder?.formattedDate}}</span>
        <span>Time : {{currentOrder?.formattedDate}}</span>
      </div>
      <div class="flex justify-between">
        <span>Store : {{currentOrder?.store }}-({{currentOrder?.outlet}})</span>
        <span>Total : {{currentOrder?.status}}</span>
      </div>
      <div class="flex justify-between">
        <span>Customer : {{currentOrder?.customer?.name }}-({{currentOrder?.customer?.phone}})</span>
        <span>Payment Status : {{currentOrder?.status}}</span>
      </div>
      <div class="flex justify-center">
        <span>Items</span>
      </div>

      <div>
        <p-table [value]="currentOrder?.products" [tableStyle]="{ 'min-width': '30rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
            <tr>
              <td>{{rowIndex + 1 }}</td>
              <td>{{ product.product }}</td>
              <td>{{ product.amount }}</td>
              <td>{{ product.orderQuantity }}</td>
              <td>{{ product.orderQuantity * product.amount}}</td>
            </tr>
          </ng-template>
        </p-table>
       
      </div>
    
      <div class="flex justify-between">
        <span>Delivery Cost : {{currentOrder?.deliveryCost}}</span>
        <span>Order Cost : {{currentOrder?.amount}}</span>
      </div>
      <div class="flex justify-between">
        <span>Total Cost : {{currentOrder?.deliveryCost + currentOrder?.amount}}</span>
      </div>
    </div>

    


  </p-dialog>

</app-outlet>